body
{
  color: white;
  background-image: linear-gradient(aliceblue,rgb(157, 196, 228), rgb(145, 145, 211));
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

div{
  font-family: sunny spells;
  font-size: 30px;
}

#capture, #predict{
  font-size: 20px;
}
